{{>headerCoordinador}}
<br>
<form action="/eliminaraspirantes" , method="post">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>identificacion del aspirante</label>
        <input type="number" class="form-control" name="identificacion" placeholder="Documento" required>
      </div>
      <div class="col">
        <label>Curso</label>
        <select class="form-control" name="curso" required>
          {{{listarCursos}}}
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Eliminar inscripcion</button>
    <br>
</form>
{{>footer}}