{{>headerAspirante}}
<br>
{{{verMisCursos identificacion}}}
<br>
<form action="/cancelarinscripcion" , method="post">
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Curso a cancelar inscripción</label>
        <select class="form-control" name="curso" required>
          {{{listarMisCursos identificacion}}}
        </select>
      </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Cancelar inscripción</button>
    <br>
</form>
<br>
<div class="alert alert-info" role="alert">
  {{message}}
</div>
<br>
{{>footer}}